:root{
    --vibrant-orange: #FFA345;
    --low-contrast-orange: #F2AD73;
    --dark-purple: #3B2747;
    --middle-purple: #472151;
    --base-purple: #624185;
    --light-purple: #F4F7FF;
    --low-contrast-purple: #E3E7F2;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    overscroll-behavior: none;
}

/* remove thedefault blue outline of inputs */
*>button {
    height: 44px;
    border: none;
    padding: 1%;
    border-radius: 15px;
    font-weight: 700;
}

*>input{
    outline: none;
    height: 44px;
    background: var(--low-contrast-purple);
    border: none;
    border-radius: 15px;
    padding: 3%;
}

label{
    margin-left: 15px;
}

a:link, a:active, a:visited{
    text-decoration: none;
    color: var(--vibrant-orange);
}

a:hover{
    text-decoration: underline;
}

/**************************************LOGIN PAGE************************************/
#login-page{
    background: white;
    height: 100vh;
    overflow: hidden;
}

#login-intro-desktop{
    display: none;
}

#login-left, #signup-left{
    text-align: center;
    padding: 10% 15%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#login-left img, #signup-left img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

#login-right{
    padding: 20% 0;
}

#login-right form{
    width: 80vw;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    /* padding: 0 15%; */
}

#login-right form div>*{
    display: block;
}

#login-right form div input{
    width: 100%;
}

#login-right form button, #signup-form button{
    background: var(--vibrant-orange);
    color: white;
    width: 100%;
}

#sign-up-link{
    position: fixed;
    bottom: 5vh;
    text-align: center;
    width: 100vw;
}

#sign-up-link>*, #log-in-link>*{
    display: inline;
}

/**************************************SIGNUP PAGE************************************/
#signup-page{
    background: var(--light-purple);
    /* height: 100vh; */
    overflow: hidden;
    overflow-y: scroll;
}

#signup-left{
    display: none;
}

#signup-right #signup-wrapper{
    background: white;
    border-radius: 30px 30px 0 0;
    height: 90vh;
    padding: 10%;
}

#signup-right h1{
    text-align: center;
    padding: 10%;
}

#signup-form{
    width: 80vw;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#signup-right form div>*{
    display: block;
    width: 100%;
}

#signup-options{
    width: 80vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin:auto;
    margin-top: 10%;
    text-align: center;
}

#signup-options>*{
    width: 100%;
}

#signup-options button{
    background: white;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
}

#log-in-link{
    text-align: center;
    margin-top: 10%;
}

/**************************************NAV BAR************************************/

#navbar{
    width: 100%;
    background: white;
    position: fixed;
    bottom: 0;
    align-items: center;
}

#navbar #three-navbar-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 500px;
    margin: auto;
}

.navbar-logo, #logout-icon{
    display: none;
}

#navbar a{
    padding: 5%;
    text-align: center;
    align-items: center;
}

#navbar .icon-div{
    border-radius: 50px;
    margin: auto;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
}

#navbar .icon-div:hover{
    background: var(--light-purple);
}

#navbar .icon-div svg{
    width: 2rem;
    fill: var(--dark-purple);
    opacity: 0.5;
    margin: auto;
}

/**************************************DASHBOARD PAGE************************************/

#dashboard-page{
    background: var(--light-purple);
}

/**************************************ALL TRIPS PAGE************************************/
.header div{
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 1rem;
}

#all-trips .header div p{
    font-size: 1.5rem;
    opacity: 0.5;
}

#all-trips .all-trips-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#all-trips .all-trips-cards .trip-card, .trip-step-card{
    background: white;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 15px;
    width: 95%;
    max-width: 500px;
    margin: auto;
}

#all-trips .all-trips-cards .trip-card .trip-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#all-trips .all-trips-cards .trip-card .trip-title h1{
    font-size: 1.2rem;
    margin-right: auto;
}

#all-trips .all-trips-cards .trip-card .trip-title .participants-nb{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #D0C6DA;
    border-radius: 50px;
    height: 2rem;
    width: 2rem;
    padding: 2%;
    margin-left: auto;
}

#all-trips .all-trips-cards .trip-card .trip-title .participants-nb p{
    font-size: 0.8rem;
}

#all-trips .all-trips-cards .trip-card .trip-title .participants-nb svg{
    width: 50%;
    margin: auto;
}

.trip-destination,
.trip-date{
    opacity: 0.5;
}

.trip-date{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/**************************************TRIP DETAILS PAGE************************************/
#mobile-trip-details-page{
    background: var(--light-purple);
}

.desktop-trip-details{
    display: none;
}

#mobile-trip-details-page .trip-details-header{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: sticky;
    background: var(--light-purple);
    max-width: 500px;
    margin: auto;
    margin-bottom: 1rem;
}

#mobile-trip-details-page .trip-details-header .trip-details-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mobile-trip-details-page .trip-details-header .trip-details-title h1{
    margin-right: auto;
}

.trip-step-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trip-step-card .trip-step-info{
    margin-right: auto;
}

.trip-step-card .trip-step-info .trip-step-info-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.trip-step-card .trip-step-info .trip-step-info-title h1{
    font-size: 1rem;
}

.trip-step-card .trip-step-info .trip-step-info-title svg{
    width: 1.5rem;
    fill: black;
}

.trip-step-card .trip-step-info .trip-step-info-title p{
    opacity: 0.5;
}

.three-dots-icon{
    width: 2.5rem;
    fill: var(--base-purple);
    display: block;
    margin: 1rem auto;
}

.edit-icon{
    fill: var(--vibrant-orange);
    width: 1.5rem;
}

/**************************************EDIT STEP PAGE************************************/
