:root{
    --vibrant-orange: #FFA345;
    --low-contrast-orange: #F2AD73;
    --dark-purple: #3B2747;
    --middle-purple: #472151;
    --base-purple: #624185;
    --light-purple: #F4F7FF;
    --low-contrast-purple: #E3E7F2;
    --red: #EB5757;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    overscroll-behavior: none;
}

/* remove thedefault blue outline of inputs */
*>button {
    height: 44px;
    border: none;
    padding: 1%;
    border-radius: 15px;
    font-weight: 700;
}

*>input{
    outline: none;
    height: 44px;
    background: var(--low-contrast-purple);
    border: none;
    border-radius: 15px;
    padding: 3%;
}

label{
    margin-left: 15px;
}

a:link, a:active, a:visited{
    text-decoration: none;
    color: var(--vibrant-orange);
}

a:hover{
    text-decoration: underline;
}

.active{
    fill: var(--dark-purple);
    opacity: 1;
}

/**************************************LOGIN PAGE************************************/
#login-page{
    background: white;
    height: 100vh;
    overflow: hidden;
}

#login-intro-desktop{
    display: none;
}

#login-left, #signup-left{
    text-align: center;
    padding: 10% 15%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#login-left img, #signup-left img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

#login-right{
    padding: 20% 0;
}

#login-right form{
    width: 80vw;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    /* padding: 0 15%; */
}

#login-right form div>*{
    display: block;
}

#login-right form div input{
    width: 100%;
}

#login-right form button, #signup-form button{
    background: var(--vibrant-orange);
    color: white;
    width: 100%;
}

#sign-up-link{
    position: fixed;
    bottom: 5vh;
    text-align: center;
    width: 100vw;
}

#sign-up-link>*, #log-in-link>*{
    display: inline;
}

/**************************************SIGNUP PAGE************************************/
#signup-page{
    background: var(--light-purple);
    /* height: 100vh; */
    overflow: hidden;
    overflow-y: scroll;
}

#signup-left{
    display: none;
}

#signup-right #signup-wrapper{
    background: white;
    border-radius: 30px 30px 0 0;
    height: 90vh;
    padding: 10%;
}

#signup-right h1{
    text-align: center;
    padding: 10%;
}

#signup-form{
    width: 80vw;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#signup-right form div>*{
    display: block;
    width: 100%;
}

#signup-options{
    width: 80vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin:auto;
    margin-top: 10%;
    text-align: center;
}

#signup-options>*{
    width: 100%;
}

#signup-options button{
    background: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

#log-in-link{
    text-align: center;
    margin-top: 10%;
}

/**************************************NAV BAR************************************/

#navbar{
    width: 100%;
    background: white;
    position: fixed;
    bottom: 0;
    align-items: center;
}

#navbar #three-navbar-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 500px;
    margin: auto;
}

.navbar-logo, #logout-icon{
    display: none;
}

#navbar a{
    padding: 5%;
    text-align: center;
    align-items: center;
}

#navbar .icon-div{
    border-radius: 50px;
    margin: auto;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
}

#navbar .icon-div:hover{
    background: var(--light-purple);
}

#navbar .icon-div svg{
    width: 2rem;
    fill: var(--dark-purple);
    opacity: 0.5;
    margin: auto;
}

/**************************************DASHBOARD PAGE************************************/

#dashboard-page{
    background: var(--light-purple);
}

/**************************************ALL TRIPS PAGE************************************/
.desktop-create-trip-btn{
    display: none;
}

.mobile-create-trip-btn{
    position: fixed;
    bottom: 11%;
    right: 10%;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    background: var(--vibrant-orange);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.mobile-create-trip-btn svg{
    width: 80%;
    margin: auto;
    fill: white;
}

.header div{
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 1rem;
}

#all-trips .header div p{
    font-size: 1.5rem;
    opacity: 0.5;
}

#all-trips .all-trips-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95%;
    max-width: 500px;
    margin: auto;
    position: relative;
}

#all-trips .all-trips-cards .trip-card, .trip-step-card{
    background: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

#all-trips .all-trips-cards .trip-card{
    position: relative;
}

#all-trips .all-trips-cards .trip-card .trip-card-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 900;
    left: 0;
}

#all-trips .all-trips-cards .trip-card .trip-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#all-trips .all-trips-cards .trip-card .trip-title h1{
    font-size: 1.2rem;
    margin-right: auto;
}

#all-trips .all-trips-cards .trip-card .trip-title .participants-nb{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #D0C6DA;
    border-radius: 50px;
    height: 2rem;
    width: 2rem;
    padding: 2%;
    margin-left: auto;
}

#all-trips .all-trips-cards .trip-card .trip-title .participants-nb p{
    font-size: 0.8rem;
}

#all-trips .all-trips-cards .trip-card .trip-title .participants-nb svg{
    width: 50%;
    margin: auto;
}

.trip-destination,
.trip-date{
    opacity: 0.5;
}

.trip-date{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/**************************************TRIP DETAILS PAGE************************************/
#mobile-trip-details-page{
    background: var(--light-purple);
}

.desktop-trip-details{
    display: none;
}

#mobile-trip-details-page .trip-details-header{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: sticky;
    background: var(--light-purple);
    max-width: 500px;
    margin: auto;
    margin-bottom: 1rem;
}

#mobile-trip-details-page .trip-details-header .trip-details-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mobile-trip-details-page .trip-details-header .trip-details-title h1{
    margin-right: auto;
}

.trip-step-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trip-step-card .trip-step-info{
    margin-right: auto;
}

.trip-step-card .trip-step-info .trip-step-info-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.trip-step-card .trip-step-info .trip-step-info-title h1{
    font-size: 1rem;
}

.trip-step-card .trip-step-info .trip-step-info-title svg{
    width: 1.5rem;
    fill: black;
}

.trip-step-card .trip-step-info .trip-step-info-title p{
    opacity: 0.5;
}

.three-dots-icon{
    width: 2.5rem;
    fill: var(--base-purple);
    display: block;
    margin: 1rem auto;
}

.edit-icon{
    fill: var(--vibrant-orange);
    width: 1.5rem;
}

.add-step-btn{
    background: white;
    position: fixed;
    bottom: 11%;
    right: 10%;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.add-step-btn svg{
    fill: var(--vibrant-orange);
    width: 80%;
    margin: auto;
}

/**************************************TRIP INFO PAGE************************************/
.trip-info-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: var(--light-purple);
    overflow-y: scroll;
}


.trip-info, .new-trip{
    padding: 7%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin:auto;
}

.trip-info .header div, .new-trip .header div, .categories .header div{
    width: 100%;
}

.trip-info .header h1, .new-trip .header h1, .categories .header h1{
    margin-right: auto;
}

.trip-info .header svg, .new-trip .header svg, .categories .header svg{
    width: 2rem;
    fill: var(--dark-purple);
    margin-right: auto;
}

.trip-info-form, .new-trip-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.trip-info-form div input, .new-trip-form div input{
    width: 100%;
}

.label{
    font-weight: bold;
    color: var(--base-purple);
    margin-bottom: 5px;
}

.trip-info-title input{
    font-size: 1.5rem;
    font-weight: 600;
}

.trip-info-destination div{
    display: flex;
    flex-direction: row;
    background: var(--low-contrast-purple);
    border-radius: 15px;
}

.trip-info-destination div svg{
    width: 2rem;
    fill: var(--dark-purple);
}

.trip-info-form .save-trip-info-btn{
    background: var(--base-purple);
    color: white;
}

.trip-info .trip-participants div, .trip-info-btn{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-participants-btn{
    width: 100%;
    background: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.copy-link-btn{
    width: 100%;
    background: white;
}

.delete-trip-btn{
    width: 100%;
    background: var(--red);
    color: white;
    margin-bottom: 5vh;
}

/**************************************PROFILE PAGE************************************/
#profile-page{
    background: var(--light-purple);
}

#profile-page .profile-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#profile-page .profile-info .profile-picture{
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    background: white;
    margin: auto;
    text-align: center;
}

#profile-page .profile-info .profile-picture img{
    width: 3rem;
    display: block;
    margin: auto;
}

#profile-page .profile-info .full-name,
#profile-page .profile-info a{
    text-align: center;
}

/**************************************SETTINGS PAGE************************************/
#settings-page{
    height: 100vh;
}

#settings-page .settings-list{
    background: var(--light-purple);
    padding: 10%;
    height: 100vh;
    border-radius: 30px 30px 0 0;
}

#settings-page .settings-list .theme div,
#settings-page .settings-list .notifications div,
#settings-page .settings-list .language div,
#settings-page .settings-list .currency div,
#settings-page .settings-list .mobile-logout div,
#settings-page .settings-list .delete-profile div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 0.5rem;
}

#settings-page .settings-list>*{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0;
    max-width: 500px;
    margin: auto;
    border-bottom: 1px solid #E0E0E0;
}

#settings-page .settings-list .label{
    color: black;
}

#settings-page .settings-list svg{
    width: 1.7rem;
}

#settings-page .settings-list .theme div p,
#settings-page .settings-list .notifications div p{
    width: 6vw;
}

#settings-page .settings-list .delete-profile>*{
    color: var(--red);
    fill: var(--red);
}

#settings-page .settings-list .terms{
    opacity: 0.5;
    border-bottom: none;
}

/**************************************SWITCH BTN************************************/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 2px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6FCF97;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #6FCF97;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/**************************************MODAL STYLING************************************/
.modal-overlay{
    display: none;  
}

.modal-container{
    background: var(--light-purple);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 100%;
    height: 100vh;
    max-width: 500px;
    z-index: 1110;
    overflow-y: scroll;   
}

.new-trip-modal, .categories-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background: var(--light-purple);
    overflow-y: scroll; 
}

.create-trip-btn{
    background: var(--vibrant-orange);
    color: white;
}

/**************************************CATEGORIES MODAL************************************/
.categories-modal .categories .all-categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
}

.categories-modal .categories .all-categories div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.categories-modal .categories .all-categories div .category-icon{
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background: var(--low-contrast-purple);
}

.categories-modal .categories .all-categories div .category-icon svg{
    width: 1.5rem;
    fill: black;
    margin: auto;
}